services:
  ctfd:
    image: ctfd/ctfd:3.8.2@sha256:870e396fddf8dd1273252bae5842bda96e45d5ebbe83d1d737ef76c513055619
    container_name: ctfd
    ports:
      - 8000:8000
    networks:
      - testing
    volumes:
      - ../:/opt/CTFd/CTFd/plugins/ctfd_chall_manager
    environment:
      LOG_LEVEL: DEBUG
      PLUGIN_SETTINGS_CM_API_URL: http://chall-manager:8080
      PLUGIN_SETTINGS_CM_MANA_TOTAL: 10
    depends_on:
      - chall-manager
    healthcheck:
      test: python3 -c 'import requests; requests.get("http://localhost:8000")'
      interval: 10s
      retries: 3
      timeout: 10s

  chall-manager:
    image: ctferio/chall-manager:v0.6.1@sha256:76f9722ce547de3e8729cd5b24add23cb29c91247eedb0cb325ab56864307376
    container_name: chall-manager
    pull_policy: always
    ports:
      - 8080:8080
    environment:
      SWAGGER: true
      KUBECONFIG: /tmp/config
      OCI_INSECURE: true
    volumes:
      - ~/.kube/config:/tmp/config:ro
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - testing

  chall-manager-janitor:
    image: ctferio/chall-manager-janitor:v0.6.1@sha256:458cff476b927fb1d51b6146f68fcaa710d0aa5a91588955026d6f694e75450a
    container_name: chall-manager-janitor
    pull_policy: always
    environment:
      URL: chall-manager:8080
      TICKER: 30s
    networks:
      - testing

  ctfd-setup:
    image: ctferio/ctfd-setup:v1.7.1@sha256:d555410c10f66eb88a6579078d3f2c9131279e3057c21831a69feb447479b877
    environment:
      URL: http://ctfd:8000
      FILE: /.ctfd.yaml
    volumes:
      - .ctfd.yaml:/.ctfd.yaml
    networks:
      - testing
    depends_on:
      ctfd:
        condition: service_healthy

  registry:
    image: registry:2
    container_name: registry
    ports:
      - 5000:5000
    networks:
      - testing

networks:
  testing:
    driver: bridge
