services:
  ctfd:
    image: ctferio/ctfd:latest
    ports:
      - 8000:8000
    environment:
      PLUGIN_SETTINGS_CM_API_URL: http://chall-manager:8080
    depends_on:
      - chall-manager

  chall-manager:
    image: ctferio/chall-manager:v0.6.1@sha256:76f9722ce547de3e8729cd5b24add23cb29c91247eedb0cb325ab56864307376 # TODO configure dependabot to monitor this tag
    environment:
      OCI_INSECURE: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Used by the example scenario, remove if unecessary

  chall-manager-janitor:
    image: ctferio/chall-manager-janitor:v0.6.1@sha256:458cff476b927fb1d51b6146f68fcaa710d0aa5a91588955026d6f694e75450a # TODO configure dependabot to monitor this tag
    environment:
      URL: chall-manager:8080
      TICKER: 1m

  # Start a registry if --profile registry is provided
  registry:
    image: registry:2
    ports:
      - 5000:5000
    profiles: ["registry"]