{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Chall-Manager by CTFer.io</h1>
    </div>
</div>


<a class="row">    
    <div class="col-md-12">
        <div class="col-md-12">
        <table class="table table-striped border">
            <thead>
            <tr>
                <th class="sort-col text-center"><b>Category</b></td>
                <th class="sort-col text-center"><b>Challenge</b></td>
                <th class="text-center"><b>Mana Cost</b></td>
                <th class="text-center"><b>Connection Info</b></td>
                <th class="sort-col text-center"><b>Since</b></td>
                <th class="sort-col text-center"><b>Until</b></td>
            </tr>
            </thead>

            <tbody>
                {% for instance in instances %}
                <tr>

                    <td class="text-center">
                        <div class="form-check" id="challenge-id-div">
                                {{ instance.challengeCategory }}
                        </div>
                    </td>
                
                    <td class="text-center">
                        <div class="form-check" id="challenge-id-div">
                                {{ instance.challengeName }}
                        </div>
                    </td>

                    <td class="text-center">
                        <div class="form-check" id="challenge-id-div">
                                {{ instance.manaCost }}
                        </div>
                    </td>

                    <td class="text-center">
                        <div class="form-check" id="challenge-id-div">
                                {{ instance.connectionInfo }}
                        </div>
                    </td>

                    <td class="text-center">
                        {% set list1 = instance.since.split('T') %}
                        {{ list1[0] }} &nbsp;
                        {{ list1[1][0:8] }}
                    </td>

                    <td class="text-center">
                        {% if instance.until %}
                        {% set list1 = instance.until.split('T') %}
                        {{ list1[0] }} &nbsp;
                        {{ list1[1][0:8] }}
                        {% else %}
                        - 
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
