name: CI - Local lock

on: 
  push:
    paths-ignore:
      - 'webdocs/**'
      - 'res/**'
  pull_request:

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      NAME: ctfer
      PASSWORD: ctfer

    services:
      chall-manager: 
        image: ctferio/chall-manager:v0.2.0@sha256:088b8871a55dff8d215ab024c3e1dbfb4dcecd90432abb49fdf1a3c6a6bf8532
        ports:
          - 8080:8080

      ctfd:
        image: ctfd/ctfd:3.7.6@sha256:8b424090fae7c143768be19454c707ee2f3754d421fef8122dbe42031efee7aa
        ports:
          - 8000:8000
        options: --mount type=bind,source=${{ github.workspace }},target=/opt/CTFd/CTFd/plugins/ctfd-chall-manager
        env:
          LOG_LEVEL: DEBUG
          PLUGIN_SETTINGS_CM_API_URL: http://chall-manager:8080/api/v1
          PLUGIN_SETTINGS_CM_MANA_TOTAL: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup basic testing env
        uses: ./.github/workflows/setup-testing
        with: 
          ctfd_mode: teams
          ctfd_user: ${{ env.NAME }}
          ctfd_pass: ${{ env.PASSWORD }}

      - name: Setup Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0

      - name: Run Functional Tests in mode Teams
        run: |- 
          python -m unittest test/test_api_challenges.py
          python -m unittest test/test_api_admin_instance.py
          python -m unittest test/test_api_instance.py
          python -m unittest test/test_api_mana.py
        env:
          CTFD_URL: http://localhost:8000
        
      - name: Update CTFd into mode users
        uses: ctfer-io/ctfd-setup@e11df98977827a789d3e07537790a3b64091493b # v1.6.0
        with:
          url: 'http://ctfd:8000'
          appearance_name: CTFer.io
          appearance_description: CTFer.io plugin tests
          mode: users 
          admin_name: ${{ env.NAME }}
          admin_email: ctfer-io@protonmail.com
          admin_password: ${{ env.PASSWORD }}

      - name: Run Functional Tests in mode Users
        run: |- 
          python -m unittest test/test_api_challenges.py
          python -m unittest test/test_api_admin_instance.py
          python -m unittest test/test_api_instance.py
          python -m unittest test/test_api_mana.py
        env:
          CTFD_URL: http://localhost:8000