name: E2E testing (front)

on: 
  push:
    paths-ignore:
      - 'webdocs/**'
      - 'res/**'
  pull_request:

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      NAME: ctfer
      PASSWORD: ctfer

    services:
      chall-manager: 
        image: ctferio/chall-manager:v0.3.1@sha256:9b83626cb4418127e79a66d0f9ebc58ff07629c05b4681eadd9ee00bd128bf6b
        ports:
          - 8080:8080

      redis-svc:
        image: redis:7.0.10@sha256:92b8b307ee28ed74da17578064c73307ad41e43f422f0b7e4e91498b406c59e3
        ports: 
          - 6379:6379

      ctfd:
        image: ctfd/ctfd:3.7.6@sha256:8b424090fae7c143768be19454c707ee2f3754d421fef8122dbe42031efee7aa
        ports:
          - 8000:8000
        options: --mount type=bind,source=${{ github.workspace }},target=/opt/CTFd/CTFd/plugins/ctfd-chall-manager
        env:
          LOG_LEVEL: DEBUG
          PLUGIN_SETTINGS_CM_API_URL: http://chall-manager:8080/api/v1
          PLUGIN_SETTINGS_CM_MANA_TOTAL: 15
          REDIS_URL: redis://redis-svc:6379

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup basic testing env
        uses: ./.github/workflows/setup-testing
        with: 
          ctfd_mode: teams
          ctfd_user: ${{ env.NAME }}
          ctfd_pass: ${{ env.PASSWORD }}


      - name: tests with cypress
        uses: cypress-io/github-action@9c318d4f950c2f0ff2e96fa4dc4279e5706efd8e # v6.7.14
        env: 
          CYPRESS_CTFD_NAME: ${{ env.NAME }}
          CYPRESS_CTFD_PASSWORD: ${{ env.PASSWORD }}
          CYPRESS_CTFD_URL: "http://localhost:8000" 
          CYPRESS_SCENARIO_PATH: "${{ github.workspace }}/hack/deploy/demo-deploy.zip"
          CYPRESS_PLUGIN_SETTINGS_CM_API_URL: "http://chall-manager:8080/api/v1"
          CYPRESS_PLUGIN_SETTINGS_CM_MANA_TOTAL: "10"
      
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # 4.6.1
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: ignore      
 
